@media (min-width: 320px) {
  .mt-12 {
    margin-top: 12rem;
  }
  .navbar {
    --bs-navbar-padding-y: 1.063rem;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-item {
        margin: 1.5rem;
      }
      .nav-link {
        font-size: calc(14px + (18 - 14) * ((100vw - 576px) / 1440));
      }
    }
  }
  .offcanvas {
    background-color: $blue-zircon;
  }
  article {
    .work2 {
      left: 0;
    }
    .work-box-2 {
      .number {
        left: 30px;
        bottom: auto;
        top: -95px;
      }
    }
    .work-box-3 {
      .number {
        left: 0;
        top: 75px;
      }
    }
  }
  .title,
  p {
    font-family: "DM Serif Text", sans-serif;
    font-size: 48px;
    line-height: 56px;
  }
  p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        font-size: calc(14px + (18 - 14) * ((100vw - 768px) / 1440));
      }
    }
  }
  .title,
  p {
    font-family: "Roboto", sans-serif;
    font-size: calc(42px + (18 - 42) * ((100vw - 768px) / 1440));
    line-height: calc(48px + (56 - 48) * ((100vw - 768px) / 1440));
  }
  p {
    font-size: calc(14px + (18 - 14) * ((100vw - 768px) / 1440));
    line-height: calc(16px + (21 - 16) * ((100vw - 768px) / 1440));
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    --bs-navbar-padding-y: 0.445rem;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-item {
        margin: 0.5rem 1.5rem;
      }
      .nav-link {
        font-size: calc(10px + (18 - 10) * ((100vw - 992px) / 1440));
      }
    }
  }
  .btn-login {
    font-size: calc(10px + (18 - 10) * ((100vw - 992px) / 1440));
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    --bs-navbar-padding-y: 1.063rem;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-item {
        margin: 0.5rem 1.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
      .nav-link {
        font-size: 0.875rem;
        line-height: 1.026rem;
      }
    }
  }
  .title,
  p {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.313rem;
  }
  article {
    .work2 {
      left: -100px;
      top: 35px;
    }
    .work2-art {
      right: 30px;
      top: -15px;
    }
    .work-box-2 {
      left: -100px;
      top: 35px;
      .number {
        left: -150px;
        bottom: 165px;
        top: auto;
      }
    }
    .work-box-3 {
      .number {
        left: -20px;
        top: 75px;
      }
    }
  }
}
