.btn {
  @include border-radius(30px);
  color: $black;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.12rem;
}
.btn-login {
  --bs-btn-padding-x: 1.58rem;
  --bs-btn-padding-y: 0.5rem;
  border: 2px solid $gray-tundora;
}
.btn-signup {
  --bs-btn-padding-x: 2.565rem;
  --bs-btn-padding-y: 1rem;
  border: 4px solid $red-mauvelous;
  font-size: 1rem;
  line-height: 1.25rem;
}
